# UK HM Land Registry Data Analysis
- Monthly data downloaded from here - https://www.gov.uk/government/statistical-data-sets/price-paid-data-downloads
- Columns with meaning - https://www.gov.uk/guidance/about-the-price-paid-data

Contains HM Land Registry data © Crown copyright and database right 2021. This data is licensed under the Open Government Licence v3.0.

In [10]:
import pandas as pd

In [4]:
!wget http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-monthly-update-new-version.csv

--2024-02-25 10:36:45--  http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-monthly-update-new-version.csv
Resolving prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com (prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com)... 52.218.112.124, 52.92.34.28, 52.92.1.132, ...
Connecting to prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com (prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com)|52.218.112.124|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: http://prod1.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-monthly-update-new-version.csv [following]
--2024-02-25 10:36:45--  http://prod1.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-monthly-update-new-version.csv
Resolving prod1.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com (prod1.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com)... 52.92.1.132, 52.218.46.28, 52.92.34.28, ...
Reusing existing connection to prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com:80.
HTTP request sent, awaiting response... 200 OK
Length: 11053958 (11M) [text/csv]
Saving to: ‘pp-monthly-update-new-version.csv.1’

pp-monthly-update-n 100%[===================>]  10.54M  --.-KB/s    in 0.1s

2024-02-25 10:36:45 (72.6 MB/s) - ‘pp-monthly-update-new-version.csv.1’ saved [11053958/11053958]

In [56]:
columnNames = ["transaction_id", "price", "sale_date", "post_code", "property_type", "property_age", "duration", 
               "primary_addressable_object", "secondary_addressable_object", "street", "locality", "town_or_city", "district",
               "county", "Price_Paid_Transaction_Type", "Record_Type" ]
df = pd.read_csv("pp-monthly-update-new-version.csv", header=None, names = columnNames)

In [62]:
df = df.astype({ "Record_Type": "category", "property_type" : "category", "property_age" : "category", "duration" : "category"})

In [64]:
df.head(5)

,transaction_id,price,sale_date,post_code,property_type,property_age,duration,primary_addressable_object,secondary_addressable_object,street,locality,town_or_city,district,county,Price_Paid_Transaction_Type,Record_Type
0,{0E082196-B05A-5C09-E063-4704A8C0A10E},532500,2021-11-05 00:00,N17 9LX,F,Y,L,"NAVIGATION POINT, 2",FLAT 1102,HALE WHARF,NaN,LONDON,HARINGEY,GREATER LONDON,A,A
1,{0E082196-B066-5C09-E063-4704A8C0A10E},430000,2021-06-04 00:00,W13 8QJ,F,N,L,CRAIG HOUSE,FLAT 27,HARTINGTON ROAD,NaN,LONDON,EALING,GREATER LONDON,A,A
2,{0E082196-B0BF-5C09-E063-4704A8C0A10E},235000,2021-06-14 00:00,BS48 3LW,T,N,L,11,NaN,AMBERLANDS CLOSE,BACKWELL,BRISTOL,NORTH SOMERSET,NORTH SOMERSET,A,A
3,{0E082196-B0E8-5C09-E063-4704A8C0A10E},165000,2021-04-07 00:00,BS23 1YW,F,N,L,12,FIRST FLOOR FLAT,DICKENSON ROAD,NaN,WESTON-SUPER-MARE,NORTH SOMERSET,NORTH SOMERSET,A,A
4,{0E082196-B1B6-5C09-E063-4704A8C0A10E},525000,2021-06-30 00:00,NW1 6JG,F,N,L,REGIS COURT,FLAT 21,MELCOMBE PLACE,NaN,LONDON,CITY OF WESTMINSTER,GREATER LONDON,A,A

In [65]:
df.dtypes

transaction_id                    object
price                              int64
sale_date                         object
post_code                         object
property_type                   category
property_age                    category
duration                        category
primary_addressable_object        object
secondary_addressable_object      object
street                            object
locality                          object
town_or_city                      object
district                          object
county                            object
Price_Paid_Transaction_Type       object
Record_Type                     category
dtype: object